* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    position: relative;
    background: lightgray;
    height: 200vh;
}


/* header styles */
.website-header {
    background: lightgray;
    height: 800px;
}
.header-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
    height: 100px;
    width: 100%;

}
.header-text h3{
    color: rgb(139, 139, 139);
    padding-left: 20px;
    margin-top: 5px;
}
/* header bottom styles */
.header-row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 280px;
    position: relative;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 225ms;
    cursor: pointer;
}
.card img {
    height: 70px;
    margin-bottom: 20px;
    
}
.card:hover {
    transform: scale(1.06);
}
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    position: absolute;
    color: #fff;
    bottom: 0;
}
.card-bottom h3 {
    font-size: 13px;
}
.bottom-customers {
    background: lightseagreen;
}
.bottom-bookings {
    background: orangered;
}
.bottom-date {
    background: green;
}
.bottom-account {
    background: red;
}
.bottom-buses {
    background: green;
}
.bottom-seats {
    background: lightseagreen;
}
.bottom-availability {
    background: red;
}
.bottom-routes {
    background: green;
}

