* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    position: relative;
    background: lightgray;
    overflow-x: hidden;
}

.nav-main {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #111;

    border-bottom: 1px solid rgb(102, 102, 102);
}
.nav-main .nav-list {
    display: flex;
    justify-content: space-around;
    
}
.nav-main h2 {
    color: white;
    font-size: 14px;
}
.nav-list li {
    list-style: none; 
    
}
.nav-list a {
    color: lightgray;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 15px;

}

/* header styles */
.website-header {
    background: lightgray;
    height: 800px;
}
.header-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
    height: 100px;
    width: 100%;

}
.header-text h3{
    color: rgb(139, 139, 139);
    padding-left: 20px;
    margin-top: 5px;
}
/* header bottom styles */
.header-row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 280px;
    position: relative;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 225ms;
    cursor: pointer;
}
.card img {
    height: 70px;
    margin-bottom: 20px;
    
}
.card:hover {
    transform: scale(1.06);
}
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    position: absolute;
    color: #fff;
    bottom: 0;
}
.card-bottom h3 {
    font-size: 13px;
}
.bottom-customers {
    background: lightseagreen;
}
.bottom-bookings {
    background: orangered;
}
.bottom-date {
    background: green;
}
.bottom-account {
    background: red;
}
.bottom-buses {
    background: green;
}
.bottom-seats {
    background: lightseagreen;
}
.bottom-availability {
    background: red;
}
.bottom-routes {
    background: green;
}

/* sidebar styling */
.side-bar {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #111;
    width: 0px;
}
.side-bar {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.side-bar h3{
    color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: flex-end;
    margin-right: 40px;
    font-family: verdana;
    visibility: hidden;
}

.sidebar-navlists {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-around;
 margin-left: 30px;
 visibility: hidden;
}
.sidebar-navlists li {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 10px;
}
.sidebar-navlists a {
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in-out;
    position: relative;
    margin-left: 15px;
}
.sidebar-navlists a:hover {
    border-bottom: 1px solid gold;
    padding-bottom: 5px;
    transform: scaleX(10px);
    margin-left: 5px;
    margin-top: 5px;
}
.sidebar-navlists a::after {
    content: "";
    position: absolute;
    transform: scaleX(0px);
    transform-origin: center;
}

.sidebar-navlists img {
    height: 20px;
    object-fit: contain;
    background-color: #fff;
    border-radius: 50%;
}
.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cancel {
    height: 30px;
    cursor: pointer;
    object-fit: contain;
    background: lightseagreen;
    border-radius: 50%;
}

/* hamburger styles */

.nav-main-hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-main-hamburger img{
    height: 30px;
    width: 40px;
    margin-right: 15px;
    background: lightseagreen;
    cursor: pointer;
}